.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 3vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin + 10px);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-nav {
  float: left;
  background-color: #5f6a80;
  width: 25%;
  height: 85vh;
  color: white;
  font-size: 5vh;
}

.App-article {
  float: left;
  background-color: #293142;
  width: 75%;
  height:85vh;
  color: white;
  font-size: 5vh;
}

.App-footer{
  background-color: #282c34;
  /* min-height: 100vh; */
  font-size: 2vmin;
  color: white;
  height: 5vh;
  position: fixed;
  bottom:0px;
  width:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
